<div id="content"> 
  <h1 id="title"><%= @wallsticker.title %></h1>

  <div class='wallsticker_single'> 
    <img src="<%= @wallsticker.source_image_url %>" style="background-color:#666;" />
  </div> 
</div> 

<div id="panel"> 
  <h3 id="section"><%= @artist.full_name %></h3> 
  <div id="divider"></div> 
  <img src='/uploads/autoportrait.jpg' id="smile"/> 
  <p id="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper libero tellus, id viverra dolor. Maecenas rutrum tincidunt tempor. <br/><br/>Etiam dignissim, justo id venenatis mattis, justo eros condimentum magna, ac venenatis ante neque convallis erat. Fusce ut lectus eu neque bibendum posuere ac id dui. In hac habitasse platea dictumst. <br/><br/>Aliquam vestibulum, lorem sed eleifend sagittis, odio magna faucibus dui, eget ullamcorper lorem magna sed libero. Praesent quis nibh turpis, sit amet condimentum nulla. </p> 
</div>
