<h1>Artist registration</h1>

<%= semantic_form_for @registration, :method => :post, :url => create_artist_path do |f| %>

  <%= f.inputs :username, :bio %>

  <%= f.buttons do %>
    <%= f.commit_button 'Register as Artist' %>
  <% end %>

<% end %>
