/* subpage - author */
h2.hasBg {
    border: 0;
    font-size: 15px !important;
    font-weight: normal !important;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 0.85em 0;
    padding: 6px !important;
}
h2.sea { background-color: #1bbbcd !important; }

.subpage {
    #authorsDetails {
        width: 440px;
        img { margin-bottom: 2em; }
    }
    #authorsProfileBox {
        width: 440px;
    }

    .authorDescription {
        margin-left: 150px;

        table {
            font-family: Tahoma, Arial, Sans-serif;
            width: 97%;
        }

        td {
            padding: 8px 8px;
            border-bottom: 1px #dbe1e4 solid;

            a {
                font-weight: bold;
                text-decoration: none;
                color: #ee375a;

               &:hover { text-decoration: underline; }
            }
        }

        tr:last-child td { border: 0; }
    }

    #aboutAuthor {
        clear: both;
        border: 10px #e7edef solid;
        padding: 12px 12px 15px 12px;
        margin-bottom: 3em;

        h4 {
            font-size: 11px;
            font-weight: bold;
            margin: 0.25em 0 0.85em 0;
        }
    }

    #authorsArtBox {
        width: 500px;
        margin-bottom: 3em;

        h2 {
            display: inline-block;
        }
    }

    #artThumbs {
        padding: 10px;
        overflow: hidden;
        background-color: #e7edef;

        a {
            float: left;
            opacity: 0.8;

            &:hover { opacity: 1; }
        }

        img {
            width: 120px;
            display: block;
        }
    }
}
