/* subpage product's page */
.galleryBox {
    position: relative;
    width: 430px;

    .itemsContainer {
        width: 430px;
        height: 645px;
        overflow: hidden;
    }

    .arrow {
        display: block;
        text-indent: -3000px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        width: 24px;
        height: 30px;
        background: transparent url(/images/galleryArrows_bgs.png) 0 0 no-repeat;
        cursor: pointer;
        z-index: 1;
        opacity: 0.5;

        &.disabled { visibility: hidden; }

        &:hover { opacity: 1; }
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
        background-position: -24px 0;
    }

    .items {
        width: 20000em;
        position: relative;
        height: 550px;
    }

    img {
        float: left;
        width: 430px;
        height: 550px;
        background-color: #666;
    }

    #galleryAndAuthorDesc {
        p {
            margin: 1em 0 1.5em 0;
            color: #666;
        }

        #authorsDetails {
            width: 430px;

            h2 {
                width: auto;
                text-align: left;
                margin-bottom: 1.5em;
            }

            h3 {
                margin-left: 0;
            }

            table {
                width: 100%;
            }

            .button {
                position: static;
                width: 93.5%;
                padding: 10px;
            }
        }
    }
}

#descriptionContainer {
    margin-left: 446px;

    h2 {
        position: relative;
        padding: 12px 10px 12px 24px !important;
        margin-left: -25px;

        span {
            display: block;
            width: 22px;
            height: 44px;
            background: transparent url(/images/activeArrowReversed_bg.png) 0 0 no-repeat;
            position: absolute;
            top: 0;
            left: -22px;
        }
    }

    p {
        font-size: 12px;
        color: #666;
        line-height: 1.5;
    }
}

#configuratorBox {
    form {
        display: block;
        border-top: 1px #cbd9dd solid;
        padding: 0.85em 0;
        margin: 1.5em 0;
    }

    label {
        font-family: Verdana, Sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #111;
        float: left;
    }

    div {
        background-color: #e7edef;
        padding: 10px;
        text-align: right;

        &.even {
            background-color: #f1f4f6;
        }
    }

    .hasSubmit {
        padding-top: 0;
        padding-bottom: 0;

        label {
            margin-top: 10px;
        }
    }

    form {
        span {
            border-left: 1px #ccc solid;
            padding-left: 0.5em;
            margin-left: 0.5em;
        }

        strong { font-size: 13px; }
    }

    input[type=submit] {
        border: 0;
        text-indent: -3000px;
        width: 248px;
        height: 40px;
        background: transparent url(/images/addToCartSubmit_bg.png) 0 0 no-repeat;
        margin: 0 -10px 0 10px;
        cursor: pointer;
    }
}

#colorSelector div {
    background-color: #fff;
    text-align: left;
}

#relatedBox {
    background-color: #899ca5;
    padding: 12px 12px 20px 12px;
    overflow: hidden;

    h3 {
        color: #fff;
        font-family: Tahoma, Arial, Sans-serif;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 1.5em;
    }

    a {
        float: left;
        opacity: 0.8;

        &:hover { opacity: 1; }

        img {
            width: 120px;
            display: block;
        }
    }
}
