<div class="contentBox hasShadow">
  <section id="searchBar">
    <div>
      <h4>Nie możesz znaleźć tego, czego szukasz?</h4>
      <p>Zadzwoń <em>(+48) 601 557 450</em></p>
    </div>
    <form action="/serach/" method="post">
      <fieldset>
        <input type="text">
        <input type="submit" value="szukaj">
        <a href="#">Opcje zaawansowane</a>
      </fieldset>
    </form>
  </section>

  <nav id="crumbsBar">
    <ul>
      <li><a href="#" class="homeLink">Strona gł&oacute;wna</a></li>
      <li><a href="#">Strona gł&oacute;wna</a></li>
      <li><a href="#" class="active">Lorem ipsum</a></li>
    </ul>
  </nav>

  <section id="splashBox">
    <nav id="productsCategories">
      <ul>
        <li><a href="#">Dla niego</a></li>
        <li class="even"><a href="#">Dla niej</a></li>
        <li><a href="#" class="active">Do salonu</a></li>
        <li class="even"><a href="#">Do kuchni</a></li>
        <li><a href="#">Czarno-białe</a></li>
        <li class="even"><a href="#">Kolorowe</a></li>
        <li><a href="#">Galeria artyst&oacute;w</a></li>
        <li class="even"><a href="#" class="cta" title="Zobacz nasze promcje!"><img src="/images/promoCta_bg.png" alt=""></a></li>
      </ul>
    </nav>
    <div id="bigPhotoContainer">
      <img src="/images/temp/bigPhoto.jpg" alt="">
      <div class="shadow"></div>
      <div id="descriptionBox">
        <div class="boxContent">
          <h3>Naklejki "Drzewa"</h3>
          <p>
                Lorem ipsum dolor sit, consectetur
                adipiscing elit. Phasellus vehicula,
                ligula eu tempor sollicitudin.
          </p>
          <a href="#" class="button cyan">zam&oacute;w on-line</a>
          <em class="sep">|</em>
          <a href="#" class="purple">zobacz podobne</a>
        </div>
      </div>
      <a href="#" id="goToCategory">Przejdź do tej kategorii</a>
    </div>
  </section>

  <section id="inspirationsBox">
    <h2>Inpsiracje</h2>
    <div class="scrollable">
      <span class="navArrow prev">Przesuń w lewo</span>
      <span class="navArrow next">Przesuń w prawo</span>
      <div class="itemsContainer">
        <div class="shadow"></div>
        <ul class="items">
          <% @featured_wallstickers.each do |wallsticker| %>
            <li>
              <%= link_to show_wallsticker_path(wallsticker), :class => 'thumb' do %>
                <%= image_tag wallsticker.source_image_url %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
</div>
