<%= render 'categories_showcase' %>

<%= render 'inspirations' %>

<% content_for :promote do %>
  <%= render 'layouts/daily_artist' %>
  <%= render 'layouts/howto' %>
  <section id="ytBox" class="clearAfter"><img src="/images/temp/youtubeMask.png" alt="zaślepka"></section>
<% end %>
