<h1>Polityka prywatności</h1>

<h2>Warunki korzystania ze sklepu internetowego wallstickers.pl</h2>
<p>Poniżej zamieszczone zasady stworzone zostały w celu zapewnienia i zagwarantowania bezpieczeństwa  podczas użytkowania sklepu prowadzonego przez firmę „Hydrofoiler Maciej Laskus” z siedzibą w Warszawie, ul. Warszawska 55/205. Podjęcie decyzji o przeglądaniu, korzystaniu z funkcjonalności serwisu, jak i czerpaniu korzyści z jego działania jest równoważne z akceptacją Polityki Prywatności. Każdego użytkownika sklepu wallstickers.pl obowiązuje Polityka Prywatności aktualna w momencie korzystania ze sklepu.</p>
<p>Firma „Hydrofoiler Maciej Laskus” zastrzega sobie prawo do dokonywania zmian w Polityce Prywatności  w każdym momencie bez wcześniejszego informowania o tym fakcie użytkowników sklepu. Zmiany obowiązują od momentu opublikowania ich na stronie sklepu.</p>

<h2>Dane osobowe</h2>
<p>Użytkownik pozostaje anonimowy do momentu dokonania pierwszego zakupu, subskrypcji newslettera lub wypełnienia formularza kontaktowego na stronie sklepu. W tych przypadkach wymagane jest podanie (elektronicznie) określonych danych teleadresowych, które następnie przesyłane są do systemu połączeniem. Do tego momentu gromadzone są standardowe dane z logów serwera, takie jak numer IP komputera użytkownika, data i czas odwiedzin, czy oglądane produkty. Są one zbierane przez administratora sklepu w celach statystycznych, co w żaden sposób nie zagraża bezpieczeństwu ochrony danych osobowych użytkownika.</p>
<p>Dokonanie przez użytkownika zakupu w sklepie i jednoczesna rejestracja w sklepie wiążą się z wyrażeniem zgodny na gromadzenie i przetwarzanie danych osobowych w rozumieniu Ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. z 2002 r. nr 101 poz. 926 z późniejszymi zmianami). Informacje służą jedynie do celów realizacji zamówienia, w tym wystawienia dowodu sprzedaży (faktura VAT) oraz wysyłki produktów. W związku z tym sklep  ma prawo udostępniać zebrane dane swoim partnerom handlowym (np. firmie spedycyjnej), jedynie mając na celu sprawną realizacje zamówienia.</p>
<p>Tylko i wyłącznie administratorzy sklepu wallstickers.pl mają dostęp do danych osobowych użytkowników sklepu. Osoby te zobowiązane są do zachowania tajemnicy i uniemożliwienia dostępu do tych danych osobom niepożądanym.</p>
  
<h2>Newslettery</h2>
<p>Wyrażenie zgody podczas rejestracji konta w sklepie lub w późniejszym czasie na otrzymywanie drogą mailową bezpłatnych newsletterów daje prawo sklepowi wallstickers.pl do wysyłania użytkownikowi serwisu informacji o nowościach, promocjach, wyprzedażach, konkursach, kolekcjach, lub każdych innych informacji związanych z działalnością sklepu i jego asortymentu.</p>
<p>Użytkownik sklepu może w każdej chwili wycofać.</p>
<p>Sklep wallstickers.pl zastrzega sobie prawo do:</p>
  <ul>
    <li>przesyłania za pośrednictwem newslettera reklam oraz informacji handlowych w rozumieniu ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. Nr 144, Poz. 1204 z 2002 r.);</li>
    <li>chwilowego wyłączenia usługi newslettera z przyczyn technicznych;</li>
    <li>zaprzestania świadczenia usługi newslettera po uprzednim powiadomieniu jego użytkowników.</li>
  </ul>  
 
