<h1>Regulamin sklepu</h1>

<h2>I Wstęp</h2>
<ol>
  <li>Firma „Hydrofoiler Maciej Laskus” z siedzibą w Warszawie, adres: 05-075 Warszawa, ul. Warszawska  55/205, REGON: 142233375, NIP: 952-194-05-55,  umożliwia kupno towarów przy pomocy sieci elektronicznej- pod adresem internetowym Accessorium.com (sklep).</li>
  <li>Administratorem danych osobowych jest firma „Hydrofoiler Maciej Laskus” z siedzibą w Warszawie, adres: 05-075 Warszawa, ul. Warszawska 55/205.</li>
  <li>Niniejszy Regulamin określa zasady dokonywania rejestracji, korzystania z konta sklepu, składania zamówień w sklepie oraz zasady zawierania Umów sprzedaży. </li>
  <li>Regulamin skierowany jest do wszystkich użytkowników sklepu wallstickers.pl.</li>
  <li>Towary w sklepie internetowym wallstickers.pl są szczegółowo oznakowane. Na stronie internetowej znajdują się informacje o właściwościach(cechach) produktów oraz ich cenach.</li>
  <li>Zdjęcia oraz prezentacje oferowanych produktów są przykładowe i służą prezentacji konkretnych modeli.</li>
</ol>
 
<h2>II Zasady korzystania ze sklepu</h2>
<ol>
  <li>Sklep przy pomocy sieci elektronicznej (Internet) umożliwia kupowanie oferowanych przez Sklep towarów.</li>
  <li>Warunkiem umożliwiającym korzystanie ze sklepu jest zapoznanie się z niniejszym Regulaminem oraz jego akceptacja. </li>
  <li>Informacje wpisywane do formularza powinny być zgodne z prawdą, aktualne oraz dokładne. </li>
  <li>Użytkownik, który skorzystał ze sklepu, zobowiązany jest do:
    <ul>
      <li>Niedostarczania i nieprzekazywania treści zabronionych przez przepisy prawa;</li>
      <li>Korzystania ze sklepu w sposób nie zakłócający jego funkcjonowania;</li>
      <li>Korzystania ze sklepu w sposób nieuciążliwy dla innych klientów oraz dla Administratora sklepu;</li>
      <li>Korzystania z treści zamieszczonych na stronach sklepu do użytku własnego;</li>
      <li>Korzystania ze sklepu w sposób zgodny z przepisami obowiązującymi na terytorium Rzeczypospolitej Polskiej, postanowieniami Regulaminu, a także ogólnymi zasadami korzystania z sieci Internet.</li>
    </ul>
  </li>
</ol>

<h2>III Zasady zawarcia umowy sprzedaży oraz składania zamówienia</h2>
<ol>
  <li>Umowa sprzedaży zawierana jest między korzystającym ze sklepu (Klientem), a firmą „ Hydrofoiler Maciej Laskus” z siedzibą w Warszawie.</li>
  <li>W celu zawarcia umowy sprzedaży, należy złożyć zamówienie (on-line) na stronie sklepu pod adresem internetowym wallstickers.pl.</li>
  <li>Sklep przyjmuje zamówienia składane on-line przez całą dobę, 7 dni w tygodniu.</li>
  <li>Warunkiem złożenia zamówienia jest poprawne wypełnienie w formularzu wszystkich wymaganych danych koniecznych do wysyłki lub/i systemowego wygenerowania faktury VAT.</li>
  <li>Podstawowym warunkiem realizacji zamówienia jest prawidłowe wypełnienie formularza adresowego zamówienia dostępnego na stronie sklepu. W formularzu umieszczone zostały następujące dane do wypełnienia:
    <ol>
      <li>Imię i nazwisko lub pełna nazwa firmy,</li>
      <li>NIP firmy (jeśli konieczny wystawienia do faktury VAT),</li>
      <li>Adres wysyłkowy i/lub adres do faktury VAT,</li>
      <li>Adres poczty elektronicznej,</li>
      <li>Numer telefonu.</li>
Podanie danych jest  niezbędne do prawidłowego oraz  pełnego przebiegu zakupów. Niepodanie którejkolwiek z wymaganych danych, spowoduje brak możliwości realizacji zamówienia.
    </ol>
  </li>
  <li>Zarejestrowany użytkownik (posiadający konto) ma możliwość dokonywania zakupów wielokrotnie, śledzenia zmian statusu złożonego zamówienia, wglądu we wszystkie złożone zamówienia, również archiwalne, wprowadzania zmian lub anulowania złożonego zamówienia, które nie zostało przekazane do realizacji i zmiany adresu wysyłki.</li>
  <li>Klient może również złożyć jednorazowe zamówienie bez konieczności zakładania konta w sklepie internetowym (tzw. zakupy bez rejestracji). Moment złożenia zamówienia na stronie sklepu przez Kupującego jest momentem zawarcia umowy pomiędzy Sprzedającym a Kupującym.</li>
  <li>W celu złożenia zamówienia należy dokonać wyboru produktów z dostępnej oferty Sklepu, poprzez „dodanie” ich do koszyka.</li>
  <li>Do momentu zatwierdzenia wyboru produktów przyciskiem „Zatwierdź zamówienie”, użytkownik Sklepu może dokonywać  zmian oraz modyfikacji produktów w zamówieniu, jak i danych teleadresowych do wysyłki lub faktury VAT. </li>
  <li>Wysłanie zamówienia przez Klienta w momencie zatwierdzenia przyciskiem „Zatwierdź zamówienie” i stanowi ofertę Klienta złożoną przez firmę „Hydrofoiler Maciej Laskus” do zawarcia Umowy sprzedaży.</li>
  <li>Po złożeniu zamówienia Klient otrzyma na stronie sklepu oraz na wskazany przez niego adres poczty e-mail komunikat zawierający informacje dotyczące pozycji zamówienia, liczby produktów, wartości zamówienia, wybranego rodzaju dostawy i płatności, czasu realizacji zamówienia oraz danych teleadresowych Klienta. Komunikat stanowi potwierdzenie otrzymania przez Sklep oferty zakupu Klienta oraz jest potwierdzeniem zawarcie umowy sprzedaży.</li>
  <li>Umowa sprzedaży zawierana jest w języku polskim, o treści zgodnej z niniejszym Regulaminem. </li>
  <li>Klient ma prawo zrezygnować z zamówienia przed otrzymaniem od Sklepu potwierdzenia przyjęcia oferty zakupu, tj. przed otrzymaniem maila potwierdzającego przyjęcie zamówienia do realizacji. W niniejszej sprawie Klient powinien niezwłocznie skontaktować się ze sklepem, także drogą telefoniczną, z potwierdzeniem mailowym.</li>
  <li>Sklep zastrzega sobie prawo odmowy realizacji zamówienia w ramach umowy sprzedaży, w przypadku  gdy płatność za zamówienie nie została uiszczona w określonym czasie lub gdy podane dane teleadresowe przez Kupującego są niezgodne z prawdą.</li>
</ol>
  
<h2>IV Dostawa oraz odbiór</h2>
<ol>
  <li>Termin realizacji zamówienia w sklepie, umieszczony na podsumowaniu zamówienia jest najbardziej prawdopodobnym czasem przygotowania Klientowi produktów do wysyłki. W wyjątkowych sytuacjach czas realizacji zamówienia jest potwierdzany przez pracownika Sklepu podczas kontaktu z Klientem.</li>
  <li>Produkty są dostarczone pod wskazany adres na terenie Unii Europejskiej firmą kurierską. Opłaty za dostawę produktów są podawane w procesie składania zamówienia. Całkowity i maksymalny termin realizacji zamówienia nie powinien przekroczyć 7 dni roboczych, a w żadnym razie 30 dni od daty zawarcia umowy sprzedaży. Rozpoczęcie realizacji zamówienia może zostać opóźnione do momentu zaksięgowania na rachunku bankowym Sklepu kwoty ceny sprzedaży i ew. kosztów przesyłki.</li>
</ol>

<h2>V Ceny oraz metody płatności</h2>
<ol>
  <li>Informacja o cenie zakupu produktu w sklepie podawana jest na stronie sklepu i ma charakter wiążący – w rozumieniu ustawy z 2 marca 2000 r. o ochronie niektórych praw konsumentów oraz o odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny - od momentu otrzymania przez klienta e-maila z potwierdzeniem przyjęcia złożonego przez Klienta zamówienia zakupu wybranych towarów, zawierającego ostateczne potwierdzenie wszystkich istotnych elementów zamówienia dla ilości podanych w zamówieniu, aż do końca realizacji zamówienia. W/w cena nie ulegnie zmianie niezależnie od zmian cen w sklepie, które mogą się pojawić po potwierdzeniu zamówienia w drugim mailu.</li>
  <li>Ceny produktów w sklepie wallstickers.pl podawane są w polskiej walucie. Podane ceny zawierają wszystkie jej składniki, w tym VAT, cła i podatki. Koszty przesyłki podawane są oddzielnie.</li>
  <li>Klient ma prawo dokonać wedle swego wyboru rodzaju płatności:
    <ul>
      <li>przelewem bankowym,</li>
      <li>za pośrednictwem systemu PayPal.</li>
    </ul>
    Realizacja zamówienia płatnego przelewem lub kartą kredytową rozpoczyna się po otrzymaniu należności za towar.
  </li>
  <li>Firma „Hydrofolier Maciej Laskus” zastrzega sobie prawo zmiany cen produktów znajdujących się w sklepie internetowym, wprowadzania nowych towarów do sprzedaży, przeprowadzania i odwoływania akcji promocyjnych na stronach sklepu, bądź wprowadzania w nich zmian zgodnie z normami kodeksu cywilnego oraz innych ustaw,  przy czym zmiany takie nie naruszają praw osób, które zawarły umowy sprzedaży towarów oferowanych przez sklep przed dokonaniem ww. zmian.</li>
</ol>

<h2>VI Gwarancja, reklamacje i zwroty</h2>
<ol>
  <li>Firma „Hydrofoiler Maciej Laskus” podejmuje działania w celu zapewnienia w pełni poprawnego funkcjonowania sklepu, w takim zakresie, jaki wynika z aktualnej wiedzy technicznej i zobowiązuje się usunąć w rozsądnym terminie wszelkie nieprawidłowości zgłoszone przez użytkowników.</li>
  <li>Każda rzecz kupiona w sklepie może być reklamowana z zachowaniem odpowiednich terminów i warunków reklamacji, jeśli posiada wady, stanowiące o jej niezgodności z umową. 3.W przypadku nie uwzględnienia reklamacji, towar zostanie odesłany wraz z opinią co do niezasadności reklamacji.</li>
  <li>W razie stwierdzenia przez Klienta uszkodzenia towaru podczas transportu, Klient zobowiązany jest sporządzić w obecności kuriera protokół szkody. Reklamacje wynikające z tytułu uszkodzenia towaru podczas transportu będą rozpatrywane na podstawie protokołu szkody sporządzonego przez Klienta i kuriera.</li>
  <li>Klient ma prawo odstąpić od umowy sprzedaży bez podania przyczyny w ciągu 14 dni od daty otrzymania towaru i zwrócić towar w najszybszym możliwym terminie do sklepu. Warunkiem uwzględnienia zwrotu jest złożenie oświadczenia o odstąpieniu od zawartej umowy (ew. za pomocą wykorzystania udostępnionego Klientowi formularza) a następnie  przysłanie na adres sklepu na koszt i ryzyko Klienta zakupionego towaru (nieużywanego i czystego) oraz dowodu zakupu (paragon lub faktura VAT). Pieniądze odesłane zostaną w ciągu maksymalnie 3 dni roboczych na podany przez Klienta numer konta. Zwrotowi podlega kwota obejmująca cenę za towary objęte umową, co do której Klient skorzystał z prawa odstąpienia.</li>
  <li>Sklep ma prawo odmówić przyjęcia zwrotu towaru w przypadkach zwrotu uszkodzonego towaru lub dostarczenia do sklepu towaru niepełnowartościowego, tj. niekompletnego.</li>
</ol>

<h2>VII Inne</h2>
<ol>
  <li>Klient składając zamówienie zgadza się na korzystanie ze sklepu zgodnie z postanowieniami niniejszego regulaminu oraz wyraża zgodę na otrzymywanie informacji handlowej w rozumieniu "ustawy o świadczeniu usług drogą elektroniczną", zgodnie z niniejszym regulaminem. W przypadku braku akceptacji postanowień niniejszego Regulaminu zakup produktów oferowanych w sklepie jest niemożliwy.</li>
  <li>Do umowy sprzedaży produktów w sklepie stosuje się prawo polskie. </li>
  <li>Sądem właściwym dla rozstrzygania sporów jest sąd miejscowy właściwy wg. obowiązujących przepisów.</li>
  <li>Firma „Hydrofoiler Maciej Laskus” zastrzega sobie prawo do dokonywania zmian w Regulaminie w każdym momencie. Zmiany Regulaminu obowiązują od momentu opublikowania ich na stronie sklepu. </li>
  <li>Wszelkie zamieszczone w sklepie znaki towarowe i nazwy firmowe należą do prawnych właścicieli i zostały umieszczone w celach informacyjnych.</li>
  <li>Sklep wallstickers.pl zastrzega sobie prawo do usunięcia konta, którego użytkownik naruszył Regulamin sklepu.</li>
</ol>