@import "contentBoxes/categories";
@import "contentBoxes/crumbs";
@import "contentBoxes/howTo";
@import "contentBoxes/inspirations";
@import "contentBoxes/newsletter";
@import "contentBoxes/search";
@import "contentBoxes/social";

/* authorDetails */
#authorsDetails {
    float: left;
    width: 370px;

    h2 {
        width: 112px;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        background-color: #a5bcc5;
        color: #fff;
        padding: 8px 6px;
        border: 0;
        margin-bottom: 0.75em;
    }

    h3 {
        font-size: 13px;
        font-weight: bold;
        margin-left: 140px;
        margin-bottom: 1em;

        a {
            color: #111;
            text-decoration: none;
        }
    }

    img.avatar {
        float: left;
        border: 1px #dcdcdc solid;
        width: 430px;
        height: 215px;
    }

    ul {
        list-style: none;
        margin-left: 140px;
        color: #666;

        a {
            color: #ee375a
        }
    }

    li {
        margin-bottom: 0.5em;
    }

    a.button {
        width: 202px;
        color: #fff;
        font-size: 13px;
        font-weight: normal;
        background-color: #1bbbcd;
        padding: 15px 16px;
        text-transform: uppercase;
        position: absolute;
        left: 140px;
        top: 118px;

        span {
            width: 22px;
            height: 44px;
            background: transparent url(/images/activeArrow_bg.png) 0 0 no-repeat;
            position: absolute;
            top: 0;
            right: -22px;
            z-index: 1;
        }
    }
}
.authorDescription { position: relative; }

#authorsGallery {
    float: left;
    width: 260px;

    img {
        float: left;
    }
}

#ctaContainer {
    float: left;
    font-family: Tahoma, Arial, Sans-serif;
    background: transparent url(/images/blueStripes_bg.png) 0 0 repeat;
    width: 320px;
    height: 260px;
    color: #fff;

    a {
        color: #fff;
        display: block;
        text-transform: uppercase;
        text-decoration: none;

        h2 {
            color: #7f2d49;
            font-size: 15px;
            background-color: #fff;
            padding: 10px 2px;
            margin: 3.5em 1.6em 1.15em 1.6em;
            border: 0;
            text-align: center;
        }

        p {
            font-size: 15px;
            font-weight: bold;
            font-style: italic;
            text-align: center;
            border-bottom: 2px #fff solid;
            height: 10px;
            margin: 1em 1.6em;
        }

        p span {
            background: transparent url(/images/blueStripes_bg.png) 0 0 repeat;
            padding: 0 4px;
        }

        &:hover > span {
            background-color: #8cdae7;
        }
    }

    a > span {
        display: block;
        background-color: #71c5d3;
        font-size: 22px;
        font-style: italic;
        margin: 1.35em 1.6em;
        padding: 10px 32px;
    }
}

#subsBox {
    h2 {
        background-color: #fff;
        font-size: 15px;
        color: #666;
        border: 0;
        padding: 8px 10px;
        text-transform: uppercase;
        display: inline-block;

        em {
            font-style: normal;
            color: #ee375a;
        }
    }

    section {
        float: left;
    }
}