
html {
    background-color: #e4e4e4;
}

body, div, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

div#wrapper {
    width: 980px;
    margin: 0 auto;
    clear: both;
}

div#element_a {
    height: 8px;
    width: 100%;
    float: left;
    background-color: #000000;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

div#wrapper {}

div#wrapper h1#headline {
    height: 40px;
    width: 458px;
    margin: 21px 0 0 20px;
    float: left;
    clear: both;
    font: bold 24pt/125% Helvetica;
    color: #000000;
}

div#wrapper h2#description {
    height: 18px;
    width: 625px;
    margin: 0 0 0 20px;
    float: left;
    clear: both;
    font: italic 10pt/125% Helvetica;
    color: #999999;
}

div#wrapper div#header {
    height: 47px;
    width: 937px;
    margin: 16px 0 0 20px;
    float: left;
    clear: both;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

div#wrapper div#header div#container_a {
    width: 921px;
    float: left;
}

div#wrapper div#header div#container_a ul#element_b {
    height: 14px;
    width: 227px;
    margin: 17px 0 0 21px;
    float: left;
    font: 10pt/100% Helvetica;
    color: #000000;
}

div#wrapper div#header div#container_a ul#element_b li {
    margin-right: 20px;
    float: left;
    list-style-type: none;
}

div#wrapper div#header div#container_a ul#element_b li#last {
    margin-right: 0;
}

div#wrapper div#header div#container_a div#search_bar {
    height: 23px;
    width: 298px;
    margin: 12px 0 0 32px;
    float: left;
    background-color: #ffffff;
    border: 1px solid #000000;
}

div#wrapper div#header div#container_a h3#cart a {
    height: 18px;
    width: 130px;
    margin: 14px 0 0 60px;
    float: left;
    font: bold 11pt/125% Helvetica;
    color: #c63f00;
}

div#wrapper div#header div#container_a ul#nav {
    height: 16px;
    width: 145px;
    margin: 16px 0 0 6px;
    float: left;
    font: bold 11pt/100% Helvetica;
    color: #555555;
}

div#wrapper div#header div#container_a ul#nav li {
    float: left;
    list-style-type: none;
}

div#wrapper div#header div#container_a ul#nav li {
    margin-right: 20px;
}

div#wrapper div#header div#container_a ul#nav li.last {
    margin-right: 0;
}

div#wrapper div#container_b {
    width: 959px;
    float: left;
    clear: both;
}

div#wrapper div#container_b div#content {
    height: 521px;
    width: 622px;
    margin: 26px 0 0 21px;
    float: left;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

div#wrapper div#container_b div#content h1#title {
    height: 30px;
    width: 333px;
    margin: 14px 0 0 20px;
    float: left;
    font: bold 18pt/125% Helvetica;
    color: #222222;
}

div#wrapper div#container_b div#content div.wallsticker_row {
    width: 579px;
    float: left;
    clear: both;

    div.wallsticker_container {
        height: 137px;
        width: 137px;
        float: left;
        background-color: #ffffff;
        border: 1px solid #000000;
        margin: 10px 10px 10px 30px;

        img {
            height: 105px;
            width: 124px;
            margin: 5px 0 0 7px;
            float: left;
            background: #e7e7e7;
            background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#d5d5d5));
            background: -moz-linear-gradient(top, #e7e7e7, #d5d5d5);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#d5d5d5');
        }

        p {
            height: 17px;
            width: 119px;
            margin: 6px 0 0 10px;
            float: left;
            clear: both;
            font: 10pt/125% Helvetica;
            color: #000000;
            text-align: center;
        }
    }

    div#element_e {
        margin: 7px 0 0 81px;
    }

    div#element_f {
        margin: 7px 0 0 61px;
    }
}

div#wrapper div#container_b div#content div#container_d {
    width: 579px;
    float: left;
    clear: both;
}

div#wrapper div#container_b div#content div#container_d div {
    height: 137px;
    width: 137px;
    float: left;
    background-color: #ffffff;
    border: 1px solid #000000;
}

div#wrapper div#container_b div#content div#container_d div#element_g {
    margin: 46px 0 0 20px;
}

div#wrapper div#container_b div#content div#container_d div#element_h {
    margin: 45px 0 0 81px;
}

div#wrapper div#container_b div#content div#container_d div#element_i {
    margin: 46px 0 0 61px;
}

div#wrapper div#container_b div#panel {
    height: 521px;
    width: 297px;
    margin: 26px 0 0 15px;
    float: left;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

div#wrapper div#container_b div#panel h3#section {
    height: 16px;
    width: 97px;
    margin: 14px 0 0 17px;
    float: left;
    font: bold 10pt/125% Helvetica;
    color: #555555;
}

div#wrapper div#container_b div#panel div#divider {
    height: 1px;
    width: 265px;
    margin: 7px 0 0 17px;
    float: left;
    clear: both;
    background-color: #e6e6e6;
}

div#wrapper div#container_b div#panel img#smile {
    height: 184px;
    width: 264px;
    margin: 13px 0 0 17px;
    float: left;
    clear: both;
    background: #e7e7e7;
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#d5d5d5));
    background: -moz-linear-gradient(top, #e7e7e7, #d5d5d5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#d5d5d5');
}

div#wrapper div#container_b div#panel p#about {
    height: 244px;
    width: 264px;
    margin: 18px 0 0 17px;
    float: left;
    clear: both;
    font: 10pt/125% Helvetica;
    color: #555555;
}

/* Buttons! */

.selector, .checker, .button, .radio, .uploader {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

a:link, a:visited, a:hover, a:active {
    color: #111;
}

a.button, button.button {
    background: #EDEEED url("images/button-background.png") top;
    border: 1px solid #C3C4BA;
    font-family: "MuseoSans500", helvetica, arial, sans-serif;
    font-weight: normal;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
    color: #222;
    display: block;
    float: left;
    margin: 0 7px 0 0;
    background-color: #EEE;
    border: 1px solid #BFBFBF;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px 6px 7px;
    text-decoration: none;
}
a.button:link, a.button:visited, a.button:hover, a.button:active, button.button:link, button.button:visited, button.button:hover, button.button:active {
    font-weight: normal;
    background: #EDEEED url("/images/button-background.png") top;
    background-image: url("/images/button-background.png");
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-position-x: 50%;
    background-position-y: 0%;
    background-origin: initial;
    background-clip: initial;
    background-color: #EDEEED;
}
