/* { behavior: url(js/iepngfix.htc); } */

html { 
	background-color: #eee !important;
}

#wrapper,
#bgLayers { display: none; }

#updateBrowser { 
	display:block; 
	margin: 5%;
	color: #555;
	font-size: 13px;
}

#updateBrowser h2 {
	font-weight: normal;
	font-size: 18px;
	margin: 0 0 0.85em 0;
}
#updateBrowser h2 strong {
	display: block;
	font-weight: bold;	
	font-size: 33px;
	color: #888;
}

#updateBrowser a { 
	color: #04c; 
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 1px 0 1px 22px;
	display: inline;
	zoom: 1;
}
a#bchrome { background-image: url(/images/browsers/chrome_icon.gif); }
a#bopera { background-image: url(/images/browsers/opera_icon.gif); }
a#bsafari { background-image: url(/images/browsers/safari_icon.gif); }
a#bie { background-image: url(/images/browsers/ie_icon.gif); }
a#bfirefox { background-image: url(/images/browsers/firefox_icon.gif); }

#updateBrowser p,
#updateBrowser ul {
	list-style: none;
	margin: 0.25em 0 1.5em 0;
}
#updateBrowser ul { text-align: left; }

#updateBrowser li { margin-bottom: 0.5em; }

#updateBrowser h5 { margin:0 0 0.35em 0; }
#updateBrowser a { font-weight: bold; }
