#updateBrowser {
    display: none;
}
header, footer, section, nav, article, aside {
    display: block;
    margin: 0;
    padding: 0;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, cite, code, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
html {
    background: url("/images/html_bg.png") repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
}
body {
    background-color: transparent;
    color: #111111;
    font-family: Verdana,Sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}
:focus {
    outline: 0 none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
.clear {
    clear: both;
}
a img {
    border: 0 none;
}
.striked {
    font-style: normal;
    text-decoration: line-through;
}
.rFloated {
    float: right !important;
}
.lFloated {
    float: left !important;
}
.center {
    text-align: center !important;
}
.right {
    text-align: right !important;
}
.left {
    text-align: left !important;
}
.inline {
    display: inline-block !important;
    vertical-align: middle !important;
}
.active {
    cursor: default !important;
    text-decoration: none !important;
}
.asUppercase {
    text-transform: uppercase !important;
}
.noMargin {
    margin: 0 !important;
}
.noMarginH {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.noMarginV {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.noPadding {
    padding: 0 !important;
}
.noPaddingH {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.noPaddingV {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.clearAfter:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.button {
    display: inline-block;
    position: relative;
    text-decoration: none;
}
fieldset {
    border: 0 none;
}
input[type="text"], input[type="password"] {
    color: #6A6B6C;
    font-family: Verdana,Sans-serif;
    padding: 2px;
    vertical-align: middle;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    color: #111111;
}
input[type="button"], input[type="submit"] {
    cursor: pointer;
    vertical-align: middle;
}
#wrapper {
    margin: 0 auto;
    width: 990px;
}
header {
    overflow: hidden;
    padding: 2em 2em 1em;
}
.contentBox {
    background-color: #FFFFFF;
    margin: 20px 0;
    overflow: hidden;
    padding: 20px;
}
.contentBox .hasShadow {
    position: relative;
}
.contentBox .button:hover {
    background-color: #37D6E8 !important;
    text-decoration: none;
}
.contentBox .transparentBox {
    background-color: transparent;
    padding: 0;
}
.contentBox .hasShadow > .shadow {
    background: url("/images/boxShadow_bg.png") no-repeat scroll 0 0 transparent;
    height: 200px;
    left: -12px;
    position: absolute;
    top: 20px;
    width: 12px;
}
.contentBox h2 {
    border-bottom: 1px solid #CFDBE0;
    color: #000000;
    font-family: Tahoma,Arial,Verdana,Sans-serif;
    font-size: 18px;
    margin: 0.85em 0 0.5em;
    padding: 0 0 0.45em;
}
.createSticker {
    background: url("/images/cornerCta_bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 136px;
    position: absolute;
    right: 0;
    text-indent: -3000px;
    top: 0;
    width: 127px;
    z-index: 2;
}
#homeLink {
    background: url("/images/logotype_bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 102px;
    text-indent: -3000px;
    width: 110px;
}
header input[type="text"], header input[type="password"] {
    border-color: #7C8A8F #CBD6DB #CBD6DB #7C8A8F;
    border-style: solid;
    border-width: 1px;
    padding: 4px 3px 5px;
}
header input[type="submit"] {
    background-color: #EE375A;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 8px;
}
header input[type="submit"]:hover {
    background-color: #FD4C6E;
}
header .sep {
    color: #495961;
}
header a {
    color: #495961;
    margin: 0 0.25em;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header form #opts {
    margin: 0.85em 0 1.15em;
    text-align: right;
}
#cartInfoBar {
    text-align: right;
}
#cartInfoBar a {
    font-weight: bold;
}
#goToCart {
    background: url("/images/cartIcon_bg.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    text-align: left;
    text-indent: -3000px;
    vertical-align: middle;
    width: 23px;
}
#cartsItemCounter {
    background: url("/images/cartIcon_bg.png") no-repeat scroll 0 0 #7F2D49;
    border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    height: 16px;
    margin: 0 0.35em 0 0.5em;
    padding: 2px 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 23px;
}
#cartsItemCounter span {
    background: url("/images/cartCounterArrow_bg.png") no-repeat scroll 0 0 transparent;
    height: 7px;
    left: -4px;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    width: 4px;
}
#productsCategories {
    border-top: 1px solid #CFDBE0;
    float: left;
    width: 250px;
}
#productsCategories ul {
    list-style: none outside none;
}
#productsCategories a {
    background-color: #E7EDEF;
    color: #111111;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 18px;
    text-decoration: none;
}
#productsCategories a:hover {
    background-color: #94A7B0 !important;
    color: #FFFFFF;
}
#productsCategories a.active {
    background-color: #1BBBCD;
    color: #FFFFFF;
    position: relative;
}
#productsCategories a.active:hover {
    background-color: #1BBBCD !important;
}
#productsCategories a.active span {
    background: url("/images/activeArrow_bg.png") no-repeat scroll 0 0 transparent;
    height: 44px;
    position: absolute;
    right: -22px;
    top: 0;
    width: 22px;
    z-index: 2;
}
#productsCategories a.cta {
    padding: 0;
}
#productsCategories a img {
    display: block;
}
#productsCategories li.even a {
    background-color: #F1F4F6;
}
#bigPhotoContainer {
    height: 460px;
    margin-left: 250px;
    position: relative;
}
#bigPhotoContainer .shadow {
    background: url("/images/splashShadow_bg.png") no-repeat scroll 0 0 transparent;
    height: 460px;
    left: 0;
    position: absolute;
    top: 0;
    width: 700px;
    z-index: 0;
}
#descriptionBox {
    background: url("/images/whiteOpacityMask_bg.png") repeat scroll 0 0 transparent;
    bottom: 20px;
    left: 20px;
    min-height: 130px;
    position: absolute;
    width: 260px;
}
#descriptionBox .boxContent {
    font-size: 12px;
    margin: 10px 12px;
}
#descriptionBox h3 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
#descriptionBox p {
    margin-bottom: 0.65em;
}
#descriptionBox a {
    color: #7F2D49;
    text-decoration: none;
}
#descriptionBox a:hover {
    text-decoration: underline;
}
#descriptionBox .button {
    background-color: #1BBBCD;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 8px 5px;
}
#descriptionBox .button:active {
    background-color: #0CAABC;
}
#goToCategory {
    background: url("/images/splashArrow_bgs.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 60px;
    position: absolute;
    right: 0;
    text-indent: -3000px;
    width: 60px;
    z-index: 3;
}
#goToCategory:hover {
    background-position: 0 -60px;
}
#crumbsBar {
    border-bottom: 1px solid #CFDBE0;
    margin: 0 0 0.75em;
    padding: 0.65em 0;
}
#crumbsBar ul {
    list-style: none outside none;
}
#crumbsBar li {
    color: #91A4AC;
    display: inline-block;
    margin: 0 0.25em;
}
#crumbsBar a {
    color: #91A4AC;
    text-decoration: none;
}
#crumbsBar a:hover {
    text-decoration: underline;
}
#crumbsBar a .active {
    color: #111111;
}
#crumbsBar a .active:after {
    content: "";
}
#crumbsBar .homeLink {
    background: url("/images/homeIcon_bg.png") no-repeat scroll 0 50% transparent;
    display: block;
    height: 15px;
    text-indent: -3000px;
    width: 11px;
}
#howtoBox {
    background-color: #899CA5;
    color: #FFFFFF;
    float: left;
    height: 299px;
    width: 370px;
}
#howtoBox .boxContent {
    padding: 5px 20px;
}
#howtoBox h2 {
    background-color: #FFFFFF;
    border: 0 none;
    color: #EE375A;
    display: inline-block;
    font-size: 15px;
    padding: 8px 10px;
    text-transform: uppercase;
}
#howtoBox p {
    font-size: 12px;
    line-height: 1.45;
    margin-bottom: 1.5em;
}
#howtoBox hr {
    background-color: #AEBDC5;
    border: 0 none;
    height: 1px;
    margin: 0 0 0.25em;
}
#howtoBox ul {
    color: #333333;
    font-size: 14px;
    list-style: none outside none;
    margin-top: -0.5em;
    padding-left: 0.25em;
}
#howtoBox li {
    background: url("/images/contactIcons_bgs.png") no-repeat scroll 0 0 transparent;
    margin-bottom: 0.5em;
    min-height: 23px;
    padding-left: 35px;
    padding-top: 2px;
}
#howtoBox li #phoneInfo {
    background-position: 0 0;
}
#howtoBox li #emailInfo {
    background-position: 0 -52px;
}
#inspirationsBox .scrollable {
    position: relative;
}
#inspirationsBox .navArrow {
    background: url("/images/navArrows_bgs.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 29px;
    margin-top: -15px;
    opacity: 0.5;
    position: absolute;
    text-indent: -3000px;
    top: 50%;
    width: 24px;
}
#inspirationsBox .navArrow .disabled {
    cursor: default;
    opacity: 0.25;
}
#inspirationsBox .navArrow:hover {
    opacity: 1;
}
#inspirationsBox .next {
    background-position: -24px 0;
    right: 0;
}
#inspirationsBox .itemsContainer {
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
    width: 850px;
}
#inspirationsBox ul.items {
    clear: both;
    height: 180px;
    list-style: none outside none;
    position: relative;
    width: 20000em;
}
#inspirationsBox ul.items li {
    float: left;
}
#inspirationsBox ul.items li a {
    background-color: #DFDFDF;
    display: block;
    height: 180px;
    margin: 0 10px;
    position: relative;
    width: 180px;
}
#inspirationsBox ul.items li a img {
    display: block;
    height: 180px;
    left: 0;
    margin: 0 auto;
    max-width: 190px;
    position: relative;
    top: 0;
    width: auto;
    z-index: 0;
}
#inspirationsBox ul.items li a .mask {
    background: url("/images/hoverOpacityMask_bg.png") repeat scroll 0 0 transparent;
    height: 179px;
    left: 0;
    position: absolute;
    top: 0;
    width: 180px;
    z-index: 1;
}
#inspirationsBox ul.items li a .mask .lens {
    background: url("/images/lensIcon_bg.png") no-repeat scroll 50% 50% transparent;
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    width: 180px;
}
#inspirationsBox ul.items li a:hover .mask {
    display: block;
}
#inspirationsBox ul.items li a > span {
    display: none;
}
#newsletterBox {
    width: 400px;
}
#newsletterBox form {
    display: block;
    margin-top: 0.35em;
}
#newsletterBox form a {
    color: #111111;
}
#newsletterBox input[type="text"] {
    background-color: #EBEFF1;
    border-color: #7C8A8F #B1C5CD #B1C5CD #7C8A8F;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-style: italic;
    padding: 6px;
    width: 260px;
}
#newsletterBox input[type="button"], #newsletterBox input[type="submit"] {
    background: url("/images/newsletterSubmits_bgs.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    height: 30px;
    margin-left: -4px;
    text-indent: -3000px;
    width: 30px;
}
#newsletterBox input[type="button"] {
    background-position: -30px 0;
}
#searchBar {
    background-color: #EE375A;
    color: #FFFFFF;
    overflow: hidden;
}
#searchBar form {
    display: block;
    margin: 16px 16px 0;
}
#searchBar div {
    background-color: #D83557;
    border-left: 1px solid #BB2B46;
    float: right;
    min-height: 52px;
    padding: 14px;
}
#searchBar h4 {
    font-family: Tahoma,Arial,Verdana,Sans-serif;
    font-size: 17px;
    margin: 0 0 0.3em;
}
#searchBar p {
    font-size: 12px;
    margin: 0 0 0.25em;
    text-align: right;
}
#searchBar em {
    font-size: 1.1em;
    font-style: normal;
    font-weight: bold;
}
#searchBar fieldset {
    background: url("/images/searchBarLens_bg.png") no-repeat scroll 0 5px transparent;
    padding: 0 20px 0 30px;
    text-align: right;
}
#searchBar input[type="text"] {
    border-color: #9A0E2B #FF4A6D #FF4A6D #9A0E2B;
    border-radius: 6px 0 0 6px;
    border-style: solid;
    border-width: 1px;
    padding: 6px;
    width: 455px;
}
#searchBar input[type="submit"] {
    background-color: #7F2D49;
    border: 1px solid #6C263F;
    border-radius: 0 6px 6px 0;
    color: #FFFFFF;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: -5px;
    padding: 5px 10px;
}
#searchBar input[type="submit"]:hover {
    background-color: #9A4764;
}
#searchBar a {
    color: #FFFFFF;
}
#socialBox {
    overflow: hidden;
    padding: 1.5em 0;
}
#socialBox * {
    display: inline-block;
    vertical-align: middle;
}
#socialBox ul {
    list-style: none outside none;
}
#socialBox h2 {
    background-color: #EE375A;
    border: 0 none;
    color: #FFFFFF;
    font-size: 15px;
    margin: 0;
    padding: 4px 8px;
    text-transform: uppercase;
}
#socialBox li a {
    background: url("/images/socialLogotypes_bgs.png") no-repeat scroll 0 0 transparent;
    height: 27px;
    margin: 0 1em;
    opacity: 0.75;
    text-indent: -3000px;
}
#socialBox li a:hover {
    opacity: 1;
}
#socialBox #twitter {
    background-position: 0 0;
    width: 118px;
}
#socialBox #flaker {
    background-position: 0 -28px;
    width: 122px;
}
#socialBox #blip {
    background-position: 0 -81px;
    height: 36px;
    margin-right: 7em;
    width: 52px;
}
#socialBox #flickr {
    background-position: 0 -54px;
    width: 80px;
}
#socialBox #youtube {
    background-position: 0 -117px;
    height: 34px;
    width: 88px;
}
#authorsDetails {
    float: left;
    width: 370px;
}
#authorsDetails h2 {
    background-color: #A5BCC5;
    border: 0 none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.75em;
    padding: 8px 6px;
    text-align: center;
    text-transform: uppercase;
    width: 112px;
}
#authorsDetails h3 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 140px;
}
#authorsDetails h3 a {
    color: #111111;
    text-decoration: none;
}
#authorsDetails img.avatar {
    border: 1px solid #DCDCDC;
    float: left;
    height: 215px;
    width: 430px;
}
#authorsDetails ul {
    color: #666666;
    list-style: none outside none;
    margin-left: 140px;
}
#authorsDetails ul a {
    color: #EE375A;
}
#authorsDetails li {
    margin-bottom: 0.5em;
}
#authorsDetails a.button {
    background-color: #1BBBCD;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    left: 140px;
    padding: 15px 16px;
    position: absolute;
    text-transform: uppercase;
    top: 118px;
    width: 202px;
}
#authorsDetails a.button span {
    background: url("/images/activeArrow_bg.png") no-repeat scroll 0 0 transparent;
    height: 44px;
    position: absolute;
    right: -22px;
    top: 0;
    width: 22px;
    z-index: 1;
}
.authorDescription {
    position: relative;
}
#authorsGallery {
    float: left;
    width: 260px;
}
#authorsGallery img {
    float: left;
}
#ctaContainer {
    background: url("/images/blueStripes_bg.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-family: Tahoma,Arial,Sans-serif;
    height: 260px;
    width: 320px;
}
#ctaContainer a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
#ctaContainer a h2 {
    background-color: #FFFFFF;
    border: 0 none;
    color: #7F2D49;
    font-size: 15px;
    margin: 3.5em 1.6em 1.15em;
    padding: 10px 2px;
    text-align: center;
}
#ctaContainer a p {
    border-bottom: 2px solid #FFFFFF;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    height: 10px;
    margin: 1em 1.6em;
    text-align: center;
}
#ctaContainer a p span {
    background: url("/images/blueStripes_bg.png") repeat scroll 0 0 transparent;
    padding: 0 4px;
}
#ctaContainer a:hover > span {
    background-color: #8CDAE7;
}
#ctaContainer a > span {
    background-color: #71C5D3;
    display: block;
    font-size: 22px;
    font-style: italic;
    margin: 1.35em 1.6em;
    padding: 10px 32px;
}
#subsBox h2 {
    background-color: #FFFFFF;
    border: 0 none;
    color: #666666;
    display: inline-block;
    font-size: 15px;
    padding: 8px 10px;
    text-transform: uppercase;
}
#subsBox h2 em {
    color: #EE375A;
    font-style: normal;
}
#subsBox section {
    float: left;
}
#bottomNav {
    border-bottom: 1px solid #C3CED3;
    border-top: 1px solid #C3CED3;
    overflow: hidden;
    padding: 2em 0;
}
#bottomNav ul {
    float: left;
    list-style: none outside none;
    margin: 0 5.25em;
    width: 200px;
}
#bottomNav li {
    background: url("/images/bottomNavBullet_bg.png") no-repeat scroll 5px 50% transparent;
    margin-bottom: 0.75em;
    padding-left: 15px;
}
#bottomNav li .hasTitle {
    background-image: none;
    padding-left: 0;
}
#bottomNav li .hasTitle h3 {
    font-size: 12px;
    font-weight: bold;
}
#bottomNav li a {
    color: #000000;
    font-size: 11px;
    text-decoration: none;
}
#bottomNav li a:hover {
    text-decoration: underline;
}
footer {
    font-family: Tahoma,Arial,Verdana,Sans-serif;
    font-size: 11px;
    padding: 0.85em 0.15em 0;
    text-transform: uppercase;
}
h2.hasBg {
    border: 0 none;
    color: #FFFFFF;
    font-size: 15px !important;
    font-weight: normal !important;
    margin: 0 0 0.85em;
    padding: 6px !important;
    text-transform: uppercase;
}
h2.sea {
    background-color: #1BBBCD !important;
}
.subpage #authorsDetails {
    width: 440px;
}
.subpage #authorsDetails img {
    margin-bottom: 2em;
}
.subpage #authorsProfileBox {
    width: 440px;
}
.subpage .authorDescription {
    margin-left: 150px;
}
.subpage .authorDescription table {
    font-family: Tahoma,Arial,Sans-serif;
    width: 97%;
}
.subpage .authorDescription td {
    border-bottom: 1px solid #DBE1E4;
    padding: 8px;
}
.subpage .authorDescription td a {
    color: #EE375A;
    font-weight: bold;
    text-decoration: none;
}
.subpage .authorDescription td a:hover {
    text-decoration: underline;
}
.subpage .authorDescription tr:last-child td {
    border: 0 none;
}
.subpage #aboutAuthor {
    border: 10px solid #E7EDEF;
    clear: both;
    margin-bottom: 3em;
    padding: 12px 12px 15px;
}
.subpage #aboutAuthor h4 {
    font-size: 11px;
    font-weight: bold;
    margin: 0.25em 0 0.85em;
}
.subpage #authorsArtBox {
    margin-bottom: 3em;
    width: 500px;
}
.subpage #authorsArtBox h2 {
    display: inline-block;
}
.subpage #artThumbs {
    background-color: #E7EDEF;
    overflow: hidden;
    padding: 10px;
}
.subpage #artThumbs a {
    float: left;
    opacity: 0.8;
}
.subpage #artThumbs a:hover {
    opacity: 1;
}
.subpage #artThumbs img {
    display: block;
    width: 120px;
}
.sidebar {
    width: 250px;
}
.sidebar h3 {
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
}
.sidebar form {
    display: block;
    margin: 1.5em 0;
}
.sidebar div {
    overflow: hidden;
    padding: 10px;
}
.sidebar legend {
    background-color: #E7EDEF;
    color: #333333;
    display: block;
    font-size: 13px;
    padding: 6px 15px;
    width: 220px;
}
.sidebar fieldset span {
    display: block;
    margin: 0 0 0.25em;
}
.sidebar fieldset .hasColumns span {
    float: left;
    width: 49%;
}
#priceInputs * {
    display: inline-block;
    vertical-align: middle;
}
#priceInputs label {
    font-weight: bold;
    margin-left: 0.5em;
}
.priceValue {
    background-color: #FFFFFF;
    border: 0 none;
    color: #111111 !important;
    font-size: 10px;
    width: 5em;
}
#priceSlider {
    border-color: #909A9C #CFDCE0 #CFDCE0 #909A9C;
    border-style: solid;
    border-width: 1px;
    height: 3px;
    margin: 0.5em 1em 1.5em;
    overflow: visible;
    padding: 0;
}
#priceSlider div {
    padding: 0;
}
#priceSlider .ui-widget-header {
    background-color: #B5C8CE;
}
#priceSlider .ui-slider-handle {
    background: url("/images/priceSliderHandler_bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 11px;
    overflow: visible;
    position: absolute;
    width: 7px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider .ui-slider-handle {
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
}
.ui-slider .ui-slider-range {
    background-position: 0 0;
    border: 0 none;
    display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
}
.ui-slider-horizontal {
    height: 0.8em;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}
.ui-slider-horizontal .ui-slider-range {
    height: 100%;
    top: 0;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.ui-slider-vertical {
    height: 100px;
    width: 0.8em;
}
.ui-slider-vertical .ui-slider-handle {
    left: -0.3em;
    margin-bottom: -0.6em;
    margin-left: 0;
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}
section#content {
    margin-left: 270px;
}
section#content p, section#content ul, section#content ol {
    color: #666666;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 0 1.5em;
}
.filterBar {
    border-bottom: 1px solid #CFDBE0;
    border-top: 1px solid #CFDBE0;
    margin-bottom: 2em;
    padding: 1.25em 0;
}
.filterBar a {
    color: #111111;
    text-decoration: none;
}
.filterBar a:hover {
    text-decoration: underline;
}
.filterBar a .active {
    font-weight: bold;
}
#content .sep {
    color: #CFDBE0;
    content: "|";
    font-weight: normal;
    padding: 0 0.3em 0 0.5em;
}
#categoriesThumbsContainer {
    overflow: hidden;
}
#categoriesThumbsContainer a {
    color: #111111;
    float: left;
    height: 220px;
    margin: 0 10px 10px 0;
    position: relative;
    width: 220px;
}
#categoriesThumbsContainer img {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
}
#categoriesThumbsContainer .catDesc {
    background: url("/images/whiteOpacityMask_bg.png") repeat scroll 0 0 transparent;
    bottom: 10px;
    left: 10px;
    padding: 6px;
    position: absolute;
    z-index: 1;
}
#categoriesThumbsContainer .price {
    color: #EE375A;
}
.galleryBox {
    position: relative;
    width: 430px;
}
.galleryBox .itemsContainer {
    height: 645px;
    overflow: hidden;
    width: 430px;
}
.galleryBox .arrow {
    background: url("/images/galleryArrows_bgs.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 30px;
    margin-top: -15px;
    opacity: 0.5;
    position: absolute;
    text-indent: -3000px;
    top: 50%;
    width: 24px;
    z-index: 1;
}
.galleryBox .arrow .disabled {
    visibility: hidden;
}
.galleryBox .arrow:hover {
    opacity: 1;
}
.galleryBox .prev {
    left: 10px;
}
.galleryBox .next {
    background-position: -24px 0;
    right: 10px;
}
.galleryBox .items {
    height: 550px;
    position: relative;
    width: 20000em;
}
.galleryBox img {
    background-color: #666666;
    float: left;
    height: 550px;
    width: 430px;
}
.galleryBox #galleryAndAuthorDesc p {
    color: #666666;
    margin: 1em 0 1.5em;
}
.galleryBox #galleryAndAuthorDesc #authorsDetails {
    width: 430px;
}
.galleryBox #galleryAndAuthorDesc #authorsDetails h2 {
    margin-bottom: 1.5em;
    text-align: left;
    width: auto;
}
.galleryBox #galleryAndAuthorDesc #authorsDetails h3 {
    margin-left: 0;
}
.galleryBox #galleryAndAuthorDesc #authorsDetails table {
    width: 100%;
}
.galleryBox #galleryAndAuthorDesc #authorsDetails .button {
    padding: 10px;
    position: static;
    width: 93.5%;
}
#descriptionContainer {
    margin-left: 446px;
}
#descriptionContainer h2 {
    margin-left: -25px;
    padding: 12px 10px 12px 24px !important;
    position: relative;
}
#descriptionContainer h2 span {
    background: url("/images/activeArrowReversed_bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 44px;
    left: -22px;
    position: absolute;
    top: 0;
    width: 22px;
}
#descriptionContainer p {
    color: #666666;
    font-size: 12px;
    line-height: 1.5;
}
#configuratorBox form {
    border-top: 1px solid #CBD9DD;
    display: block;
    margin: 1.5em 0;
    padding: 0.85em 0;
}
#configuratorBox label {
    color: #111111;
    float: left;
    font-family: Verdana,Sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#configuratorBox div {
    background-color: #E7EDEF;
    padding: 10px;
    text-align: right;
}
#configuratorBox div .even {
    background-color: #F1F4F6;
}
#configuratorBox .hasSubmit {
    padding-bottom: 0;
    padding-top: 0;
}
#configuratorBox .hasSubmit label {
    margin-top: 10px;
}
#configuratorBox form span {
    border-left: 1px solid #CCCCCC;
    margin-left: 0.5em;
    padding-left: 0.5em;
}
#configuratorBox form strong {
    font-size: 13px;
}
#configuratorBox input[type="submit"] {
    background: url("/images/addToCartSubmit_bg.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 40px;
    margin: 0 -10px 0 10px;
    text-indent: -3000px;
    width: 248px;
}
#colorSelector div {
    background-color: #FFFFFF;
    text-align: left;
}
#relatedBox {
    background-color: #899CA5;
    overflow: hidden;
    padding: 12px 12px 20px;
}
#relatedBox h3 {
    color: #FFFFFF;
    font-family: Tahoma,Arial,Sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1.5em;
}
#relatedBox a {
    float: left;
    opacity: 0.8;
}
#relatedBox a:hover {
    opacity: 1;
}
#relatedBox a img {
    display: block;
    width: 120px;
}
h1#title, h3#section {
    background-color: #1BBBCD;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    padding: 5px;
    text-align: center;
    width: 170px;
}
.wallstickers_row {
    background: none repeat scroll 0 0 #EBF4FB;
    border: 2px solid #B7DDF2;
    list-style: none outside none;
    margin: 0 auto;
    padding: 14px;
    width: 600px;
}
.wallstickers_row li {
    float: left;
    list-style: none outside none;
    margin: 5px 0;
}
.wallstickers_row label {
    display: block;
    float: left;
    font-weight: bold;
    text-align: right;
    width: 140px;
}
.wallstickers_row abbr {
    color: #FF0000;
}
.wallstickers_row input, .wallstickers_row textarea, .wallstickers_row select {
    border: 1px solid #AACFE4;
    float: left;
    font-size: 12px;
    margin: 2px 0 20px 10px;
    padding: 4px 2px;
    width: 400px;
}
.wallstickers_row input.create, .wallstickers_row input.wallsticker_browse_image {
    background: none repeat scroll 0 0 #666666;
    clear: both;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 31px;
    line-height: 31px;
    margin-left: 100px;
    text-align: center;
    width: 400px;
}
.wallstickers_row p {
    border-top: 1px solid #B7DDF2;
    color: #666666;
    font-size: 11px;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-right: 50px;
}
