<section id="splashBox">

  <%= render 'categories/product_categories' %>

  <div>
    <%= @wallstickers.each_slice(3) do |row| %>
      <div class="wallsticker_row">
        <% row.each do |wallsticker| %>
          <div class='wallsticker_container'>
            <%= link_to show_wallsticker_path(wallsticker) do %>
              <%= image_tag wallsticker.square_image_url %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</section>
