<section id="socialBox">
    <h2><%= t 'layouts.social.follow' %></h2>
    <ul>
      <li><a href="#" id="twitter" class="socialLogotype">Twitter</a></li>
      <li><a href="#" id="flaker" class="socialLogotype">Flaker</a></li>
      <li><a href="#" id="blip" class="socialLogotype">Blip</a></li>
    </ul>
    <h2><%= t 'layouts.social.see' %></h2>
    <ul>
      <li><a href="#" id="flickr" class="socialLogotype">Fickr</a></li>
      <li><a href="#" id="youtube" class="socialLogotype">Youtube</a></li>
    </ul>
</section>